body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, table, td, tr, th, a, ul, li, ol, small {
	font-family: 'Microsoft JhengHei','PT Sans Narrow','Source Han Sans TWHK',sans-serif !important;
}

.text-center {
  text-align: center;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
